:root{
  --primary: rgb(76, 80, 174);
  --primary-dark: rgb(38, 43, 169);
  --secondary: rgb(246, 247, 255);
}
.btn-primary{
  background-color: var(--primary) !important;
  border: 0;
}
.btn-primary:hover{
  background-color: var(--primary-dark) !important;
}
.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.500rem;
  --bs-btn-font-size: .85rem;
  --bs-btn-font-weight: 0;
  font-weight: 500;
  --bs-btn-line-height: 1.5;
}
.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.500rem;
  --bs-btn-font-size: .85rem;
  --bs-btn-font-weight: 0;
  font-weight: 500;
  --bs-btn-line-height: 1.5;
}